body {
	background-color: rgba(238,238,238);
}
/* 页首 */
.top {
	background-color: rgb(245,245,245);
	height: 30px;
	position: relative;
}

.top>.top-mid {
	font-size: 12px;
	line-height: 18px;
	color: #1E1E1E;
}

.top>.top-mid>.top-mid-left {
	font-size: 12px;
	padding-top: 6px;
	display: inline-block;
}

.top>.top-mid>span {}

.top>.top-mid>a {}

.top>.top-mid>ul {
	display: inline-block;
	width: 390px;
	height: 30px;
	font-size: 0;
	float: right;
	overflow: hidden;
}

.top>.top-mid>ul>li {
	display: inline-block;
	width: 20%;
	font-size: 12px;
	box-sizing: border-box;
    padding: 0 10px 1px 15px;
    margin: 9px 0 0px;
    border-right: 1px solid #DDD;
	cursor:  pointer;
}

.top>.top-mid>ul>li:nth-child(2) {
	position: relative;
}

.top>.top-mid>ul>li>a { color: #1E1E1E; }

.top>.top-mid>ul>li>a:hover { color: red; }

.top>.top-mid>ul>li:nth-child(2)>a>i{
	position: absolute;
	left: 2px;
	top: 0.5px;
	font-size: 12px;
}

.top>.top-mid>ul>li>ul {
	display: none;
	width: 156px;
	font-size: 0;
	position: absolute;
	right: 10.5%;
	top: 100%;
	color: #1E1E1E;
	text-align: center;
	z-index: 99;
}

.top>.top-mid>ul>li:nth-child(4):hover>ul {
	display: block;
}

.top>.top-mid>ul>li>ul>li {
	display: inline-block;
	width: 50%;
	height: 50px;
	background-color: white;
}

.top>.top-mid>ul>li>ul>li>a {
	display: block;
	font-size: 12px;
	line-height: 12px;
	margin-top: 20px;
	color: #1E1E1E;
}

.top>.top-mid>ul>li>.phone {
	display: none;
	position: absolute;
	right: 10.2%;
	top: 100%;
	z-index: 5;
}

.top>.top-mid>ul>li>.phone>a {}

.top>.top-mid>ul>li>.phone>a>img {
	width: 150px;
}

.top>.top-mid>ul>li:nth-child(5):hover>.phone {
	display: block;
}

/* 头部 */
.order-top-wrapper {
	background-color: white;
}

.order-top {
	height: 95px;
}

.order-top>.wrap {
	display: inline-block;
	padding: 20px 0;
}

.order-top>.wrap>a {
	vertical-align: middle;
}

.order-top>.wrap>span {
	display: inline-block;
	line-height: 18px;
	font-size: 18px;
	color: #666666;
	vertical-align: middle;
	margin-left: 50px;
	font-weight: 700;
}

.order-top>.schedule {
	display: inline-block;
	width: 500px;
	height: 70px;
	padding: 20px 0;
	vertical-align: middle;
	position: relative;
	float: right;
}

.order-top>.schedule>.one {
	display: inline-block;
	text-align: center;
}

.order-top>.schedule>.one>span.num {
	display: inline-block;
	box-sizing: border-box;
	padding-top: 6px;
	width: 32px;
	height: 32px;
	border: 1px solid #C62E2D;
	border-radius: 50%;
	color: white;
	margin-bottom: 6px;
}

.order-top>.schedule>.one>span.num>i {
	font-size: 16px;
	color: red;
}

.order-top>.schedule>.one>span.message {
	color: rgba(0,0,0,0.85);
	font-size: 16px;
	line-height: 24px;
}

.order-top>.schedule>.two {
	display: inline-block;
	text-align: center;
	margin-left: 75px;
}

.order-top>.schedule>.two>span.num {
	display: inline-block;
	box-sizing: border-box;
	padding-top: 6px;
	width: 32px;
	height: 32px;
	border: 1px solid #C62E2D;
	border-radius: 50%;
	color: rgba(0,0,0,0.25);
	margin-bottom: 6px;
}

.order-top>.schedule>.two>span.num>i {
	font-size: 16px;
	color: red;
}

.order-top>.schedule>.two>span.message {
	color: rgba(0,0,0,0.85);
	font-size: 16px;
	line-height: 24px;
}

.order-top>.schedule>.three {
	display: inline-block;
	text-align: center;
	margin-left: 110px;
}

.order-top>.schedule>.three>span.num {
	display: inline-block;
	box-sizing: border-box;
	padding-top: 6px;
	width: 32px;
	height: 32px;
	background-color: #C62E2D;
	border-radius: 50%;
	color: white;
	margin-bottom: 6px;
}

.order-top>.schedule>.three>span.message {
	color: rgba(0,0,0,0.85);
	font-size: 16px;
	line-height: 24px;
}

.order-top>.schedule>span.first {
	position: absolute;
	left: 100px;
	top: 36px;
	width: 120px;
	height: 1px;
	background-color: #C62E2D;
}

.order-top>.schedule>span.second {
	position: absolute;
	left: 295px;
	top: 36px;
	width: 120px;
	height: 1px;
	background-color: #C62E2D;
}

/* 基本信息 */
.base {
	padding: 60px;
}

.base>.content {
	background-color: white;
	box-sizing: border-box; 
	padding: 36px;
	height: 280px;
}

.base>.content>.base-info {
	height: 83px;
	padding: 0 30px 12px;
	box-sizing: border-box;
	border-bottom: 1px solid #DDDDDD;
}

.base>.content>.base-info>.icon {
	display: inline-block;
	background-image: url(../images/personal/personal-003.png);
	background-position: -249px -70px;
	width: 63px;
	height: 70px;
	text-align: left;
}

.base>.content>.base-info>span.icon-top {
	font-size: 20px;
	color: #1E1E1E;
	display: inline-block;
	vertical-align: top;
}

.base>.content>.base-info>span.icon-bottom {
	font-size: 14px;
	line-height: 18px;
	color: #1E1E1E;
	display: inline-block;
	vertical-align: bottom;
	margin-bottom: 20px;
	margin-left: -250px;
}

.base>.content>.base-info>.timer {
	display: inline-block;
	height: 100%;
	width: 346px;
	float: right;
}

.base>.content>.base-info>.timer>h4 {
	display: inline-block;
	vertical-align: middle;
}

.base>.content>.base-info>.timer>span {
	display: inline-block;
	vertical-align: middle;
	width: 45px;
	height: 100%;
	box-sizing: border-box;
	border: 1px solid #000000;
	background-color: rgba(70,70,70,0.9);
	color: white;
	text-align: center;
	font-size: 40px;
	padding-top: 7px;
}

.base>.content>.base-info>.timer>span.timer-hour-a {
	
	
}

.base>.content>.base-info>.timer>span.timer-hour-b {
}

.base>.content>.base-info>.timer>.symbol {
	display: inline-block;
	vertical-align: middle;
	margin: 0 10px;
	font-size: 40px;
}

.base>.content>.user-info {
	padding: 20px 30px 0;
	box-sizing: border-box;
}

.base>.content>.user-info>.should-price {
	padding-top: 16px;
}

.base>.content>.user-info>.should-price>span.text {
	display: inline-block;
	width: 80px;
	font-size: 14px;
	line-height: 18px;
	color: #1E1E1E;
	text-align: left;
}

.base>.content>.user-info>.should-price>span.price {
	display: inline-block;
	margin-left: 20px;
	font-size: 20px;
	font-weight: 400;
	color: #C62E2D;
}

.base>.content>.user-info>.product-message>span.text {
	display: inline-block;
	width: 80px;
	font-size: 14px;
	line-height: 18px;
	color: #1E1E1E;
	text-align: left;
}

.base>.content>.user-info>.product-message>span.person {
	display: inline-block;
	margin-left: 20px;
	font-size: 14px;
	font-weight: 400;
	color: #1E1E1E;
}

.base>.content>.user-info>.order-num {
	padding-top: 16px;
}

.base>.content>.user-info>.order-num>span.text {
	display: inline-block;
	width: 80px;
	font-size: 14px;
	line-height: 18px;
	color: #1E1E1E;
	text-align: left;
}

.base>.content>.user-info>.order-num>span.num {
	display: inline-block;
	margin-left: 20px;
	font-size: 14px;
	font-weight: 400;
	color: #1E1E1E;
}

.base>.content>.user-info>.order-num>a {
	display: inline-block;
	margin-left: 10px;
	font-size: 14px;
	font-weight: 400;
	color: #1E1E1E;
	color: blue;
}

/* 支付方式 */
.pay-way {}

.pay-way>.title {
	
}

.pay-way>.title>h2 {
	margin-bottom: 12px;
	font-size: 20px; 
	color: #1E1E1E;
	line-height: 18px;
}

.pay-way>.content {
	background-color: white;
	height: 174px;
	box-sizing: border-box;
	padding: 36px;
	margin-bottom: 40px;
}

.pay-way>.content>ul {
	font-size: 0;
}

.pay-way>.content>ul>li {
	display: inline-block;
	width: 12.5%;
	height: 100%;
	padding-right: 17px;
}

.pay-way>.content>ul>li>.image-wrapper {
	display: inline-block;
	vertical-align: middle;
	width: 128px;
	height: 48px;
	border: 1px solid #DDDDDD;
	box-sizing: border-box;
	cursor: pointer;
	position: relative;
}

.pay-way>.content>ul>li:hover>.image-wrapper {
	border-color: #C62E2D;
}

.pay-way>.content>ul>li.active>.image-wrapper {
	border-color: #C62E2D;
}

.pay-way>.content>ul>li>.image-wrapper>img {
	width: 100%;
}

.pay-way>.content>ul>li>.image-wrapper>.i-wrapper {
	display: none;
	position: absolute;
	right: -1px;
	bottom: 0;
	border-color: #C62E2D transparent;
	border-width: 0px 0px 20px 20px;
	border-style: solid;
	
}

.pay-way>.content>ul>li.active>.image-wrapper>.i-wrapper {
	display: block;
}

.pay-way>.content>ul>li:hover>.image-wrapper>.i-wrapper {
	display: block;
}

.pay-way>.content>ul>li>.image-wrapper>.i-wrapper>i {
	position: absolute;
	left: -12px;
	top: 8px;
	font-size: 12px;
	color: white;
}

.pay-way>.content>ul>li>.image-wrapper-ex {
	display: inline-block;
	vertical-align: middle;
	box-sizing: border-box;
	width: 128px;
	height: 48px;
	border: 1px solid #DDDDDD;
	cursor: pointer;
	position: relative;
}

.pay-way>.content>ul>li:hover>.image-wrapper-ex {
	border-color: #C62E2D;
}


.pay-way>.content>ul>li>.image-wrapper-ex>img {
	width: 44px;
	height: 44px;
}

.pay-way>.content>ul>li>.image-wrapper-ex>span {
	font-size: 16px;
	display: inline-block;
	vertical-align: top;
	margin-left: 6px;
	line-height: 48px;
	font-weight: 700;
	color: #666666;
}

.pay-way>.content>ul>li:hover>.image-wrapper-ex {
	border-color: #C62E2D;
}

.pay-way>.content>ul>li>.image-wrapper-ex>.i-wrapper {
	display: none;
	position: absolute;
	right: -1px;
	bottom: 0;
	border-color: #C62E2D transparent;
	border-width: 0px 0px 20px 20px;
	border-style: solid;
	
}

.pay-way>.content>ul>li:hover>.image-wrapper-ex>.i-wrapper {
	display: block;
}

.pay-way>.content>ul>li.active>.image-wrapper-ex>.i-wrapper {
	display: block;
}

.pay-way>.content>ul>li.active>.image-wrapper-ex {
	border-color: #C62E2D;
}


.pay-way>.content>ul>li>.image-wrapper-ex>.i-wrapper>i {
	position: absolute;
	left: -12px;
	top: 8px;
	font-size: 12px;
	color: white;
}

.pay-way>.content>span.btn-next {
	margin-top: 20px;
	display: block;
	width: 70px;
	height: 32px;
	box-sizing: border-box;
	padding-top: 8px;
	color: white;
	cursor: pointer;
	background-color: #C62E2D;
	text-align: center;
	font-size: 12px;
	font-weight: 400;
	border: 1px solid tansparent;
}

/* 支付 */
.pay {
	position: absolute;
	left: 20%;
	top: 15%;
	width: 640px;
	height: 400px;
	background-color: wheat;
	display: none;
	z-index: 105;
}

.pay.active {
	display: block;
}

.pay>.icon-wrapper {
	width: 100%;
	box-sizing: border-box;
	padding: 12px 0;
	text-align: right;
}

.pay>.icon-wrapper>i {
	margin-right: 16px;
	cursor: pointer;
}

.pay>.content-wrapper {
	width: 100%;
	height: 200px;
	margin-top: 40px;
}

.pay>.content-wrapper>.image-wrapper {
	display: inline-block;
	vertical-align: middle;
	width: 160px;
	height: 160px;
	border: 1px solid #DDDDDD;
	padding: 20px 0;
	margin-left: 80px;
}

.pay>.content-wrapper>.image-wrapper>img {
	width: 100%;
}

.pay>.content-wrapper>.end-pay {
	display: inline-block;
	vertical-align: middle;
	width: 240px;
	height: 160px;
	margin-left: 80px;
	text-align: center;
}

.pay>.content-wrapper>.end-pay>span {
	display: inline-block;
	font-size: 24px;
	line-height: 24px;
}

.pay>.content-wrapper>.end-pay>span.text {
	margin-top: 40px;
}

.pay>.content-wrapper>.end-pay>span.account {
	margin-top: 20px;
	font-size: 48px;
	line-height: 48px;
	color: #C62E2D;
}

.pay>.content-wrapper>.btn-wrapper {
	display: inline-block;
	width: 100%;
	height: 80px;
	box-sizing: border-box;
	padding: 20px 0;
}

.pay>.content-wrapper>.btn-wrapper>span {
	display: inline-block;
	width: 200px;
	height: 40px;
	background-color: #C62E2D;
	color: white;
	text-align: center;
	box-sizing: border-box;
	padding: 10px 0;
	cursor: pointer;
	margin-left: 75px;
}

.curtain {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(113,113,113,0.5);
	z-index: 100;
	display: none;
}

.curtain.active {
	display: block;
}




/* 页脚 */
html {
	height: 100%;
}

body {
	min-height: 100%;
	position: relative;
	box-sizing: border-box;
	padding-bottom: 500px;
}

.footer {
	height: 500px;
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: rgba(234,234,234);
}

.footer>.footer-top {
	height: 100px;
	margin-top: 60px;
}

.footer>.footer-top>ul {
	font-size: 0;
	width: 100%;
	white-space: nowrap;
}

.footer>.footer-top>ul>li {
	display: inline-block;
	margin-right: 115px;
}

.footer>.footer-top>ul>li>img {
	width: 100%;
}

.footer>.footer-middle {
	width: 100%;
	height: 220px;
	border-top: 1px solid rgba(187,187,187);
	border-bottom: 1px solid rgba(187,187,187);
	
}

.footer>.footer-middle>ul {
	font-size: 0;
	width: 1200px;
	margin: 0 auto;
}

.footer>.footer-middle>ul>li {
	display: inline-block;
	width: 20%;
	height: 100%;
	text-align: left;
	vertical-align: top;
	margin-top: 50px;
	box-sizing: border-box;
	padding-left: 120px;
}

.footer>.footer-middle>ul>li>span {
	font-size: 18px;
	color: rgb(51,51,51);
	font-weight: bold;
}

.footer>.footer-middle>ul>li>a {
	display: block;
	font-size: 12px;
	color:rgba(153,153,153);
	margin: 10px 0;
}

.footer>.footer-middle>ul>li>a.mid {
	font-size: 14px;
	color: rgba(153,153,153);
	font-weight: bold;
}

.footer>.footer-bottom {
	text-align: center;
	margin-top: 50px;
}

.footer>.footer-bottom>span {
	margin: 8px 0;
}

.footer>.footer-bottom>span>a {
	color: rgba(153,153,153);
}

.footer>.footer-bottom>span.footer-bottom-top {}

.footer>.footer-bottom>span.footer-bottom-mid {
	display: block;
}

.footer>.footer-bottom>span.footer-bottom-bottom {
	display: block;
}

.footer>.footer-bottom>span.span-a {
	color: rgba(153,153,153);
	display: block;
}

.footer>.footer-bottom>span.span-b {
	color: rgba(153,153,153);
	display: block;
}

.footer>.footer-bottom>.footer-end {
	margin: 30px 0;
}

.footer>.footer-bottom>.footer-end>img {
	width: 30px;
}

.footer>.footer-bottom>.footer-end>a {
	font-size: 12px;
	color: rgba(153,153,153);
	margin-right: 20px;
}






















