body {
	background-color: white;
}

/* 页首 */
.top {
	background-color: rgb(245,245,245);
	height: 30px;
	position: relative;
}

.top>.top-mid {
	font-size: 12px;
	line-height: 18px;
	color: #1E1E1E;
}

.top>.top-mid>.top-mid-left {
	font-size: 12px;
	padding-top: 6px;
	display: inline-block;
}

.top>.top-mid>span {}

.top>.top-mid>a {}

.top>.top-mid>ul {
	display: inline-block;
	width: 390px;
	height: 30px;
	font-size: 0;
	float: right;
	overflow: hidden;
}

.top>.top-mid>ul>li {
	display: inline-block;
	width: 20%;
	font-size: 12px;
	box-sizing: border-box;
    padding: 0 10px 1px 15px;
    margin: 9px 0 0px;
    border-right: 1px solid #DDD;
	cursor:  pointer;
}

.top>.top-mid>ul>li:nth-child(2) {
	position: relative;
}

.top>.top-mid>ul>li>a { color: #1E1E1E; }

.top>.top-mid>ul>li>a:hover { color: red; }

.top>.top-mid>ul>li:nth-child(2)>a>i{
	position: absolute;
	left: 2px;
	top: 0.5px;
	font-size: 12px;
}

.top>.top-mid>ul>li>ul {
	display: none;
	width: 156px;
	font-size: 0;
	position: absolute;
	right: 10.5%;
	top: 100%;
	color: #1E1E1E;
	text-align: center;
	z-index: 99;
}

.top>.top-mid>ul>li:nth-child(4):hover>ul {
	display: block;
}

.top>.top-mid>ul>li>ul>li {
	display: inline-block;
	width: 50%;
	height: 50px;
	background-color: white;
}

.top>.top-mid>ul>li>ul>li>a {
	display: block;
	font-size: 12px;
	line-height: 12px;
	margin-top: 20px;
	color: #1E1E1E;
}

.top>.top-mid>ul>li>.phone {
	display: none;
	position: absolute;
	right: 10.5%;
	top: 100%;
	z-index: 5;
}

.top>.top-mid>ul>li>.phone>a {}

.top>.top-mid>ul>li>.phone>a>img {
	width: 150px;
}

.top>.top-mid>ul>li:nth-child(5):hover>.phone {
	display: block;
}

/* 广告 */
.advertisement {
	min-width: 100%;
	z-index: 1;
	position: relative;
}

.advertisement>a {}

.advertisement >a>img { width: 100% }

/* 新华书店 */
.top-title {
	background-color: white;
	padding-top: 30px;
}

.top-title>.top-title-c>a {}

.top-title>.top-title-c>a>img {
	width: 150px;
}

.top-title>.top-title-c>.top-title-mid {
	display: inline-block;
	margin-left: 300px;
	margin-right: 20px;
}

.top-title>.top-title-c>.top-title-mid>input.search-input {
		width: 440px;
	    border: 1px solid #c62f2d;
	    height: 32px;
	    font-size: 14px;
	    line-height: 32px;
		padding: 0 0 0 10px;
		vertical-align: middle;
		outline: none;
}

.top-title>.top-title-c>.top-title-mid>.search {
		display: inline-block;
	    cursor: pointer;
		background-color: #c62f2d;
	    border: 1px solid #c62f2d;
		margin-left: -5px;
		width: 60px;
		height: 34px;
		text-align: center;
		vertical-align: middle;
		border-left: none;
}

.top-title>.top-title-c>.top-title-mid>.icon-search {
	color: white;
	box-sizing: border-box;
	padding-top: 10px;
	font-size: 14px;
	line-height: 14px;
}

.top-title>.top-title-c>.top-title-mid>ul {
	font-size: 0;
	margin-top: 6px;
	margin-bottom: -2px;
}

.top-title>.top-title-c>.top-title-mid>ul>li {
	display: inline-block;
	box-sizing: border-box;
	font-size: 12px;
}

.top-title>.top-title-c>.top-title-mid>ul>li>span {
	color: #666;
}

.top-title>.top-title-c>.top-title-mid>ul>li>a {
	color: #BBB;
    margin: 0 8px;
}

.top-title>.top-title-c>.top-title-right {
	float: right;
	border: 1px solid #DDD;
	margin-right: 80px;
}

.top-title>.top-title-c>.top-title-right>a {
	cursor: pointer;
	font-size: 14px;
	line-height: 30px;
	margin: 2px 2px 2px 4px;
}

.top-title>.top-title-c>.top-title-right>a>span.bag {
		color: red;
}

.top-title>.top-title-c>.top-title-right>a>span.icon-arrow-right {
	font-size: 14px; 
	padding: 0;
}

.top-title>.top-title-c>.top-title-right>a>span {
	color: #666;
	margin: 0 2px;
}

/* 商品分类 */
.menu-wrap {
	padding: 30px 0;
	background-color: white;
}

.menu-wrap>.menu-wrap-c>.menu-left {
	display: inline-block;
	width: 200px;
	height: 100%;
	background-color: rgba(145,119,110);
	box-sizing: border-box;
	padding: 10px 13px;
	position: relative;
}

.menu-wrap>.menu-wrap-c>.menu-left>span.icon-caidan {
	display: inline-block;
	box-sizing: border-box;
	font-size: 16px;
	margin-top: 3px;
	margin-right: 20px;
	float: left;
	color: white;
}

.menu-wrap>.menu-wrap-c>.menu-left>h3 {
	display: inline-block;
	font-size: 14px;
	cursor: pointer;
	color: white;
}

.menu-wrap>.menu-wrap-c>.menu-left>ul.category-main {
	display: none;
	width: 100%;
	height: 500px;
	background-color: rgba(145,119,110);
	position: absolute;
	left: 0;
	top: 100%;
	text-align: left;
	z-index: 100;
}

.menu-wrap>.menu-wrap-c>.menu-left:hover>ul.category-main {
	display: block;
}


.menu-wrap>.menu-wrap-c>.menu-left>ul.category-main>li {
	height: 10%;
	box-sizing: border-box;
	padding: 6px 5px 6px 13px;
}

.menu-wrap>.menu-wrap-c>.menu-left>ul.category-main>li>a {
	width: 100%;
	font-size: 14px;
	color: white;
}

.menu-wrap>.menu-wrap-c>.menu-left>ul.category-main>li:hover>a {
	color: gold;
}

ul.category-bott {
	font-size: 0;
	width: 100%;
	margin-bottom: 20px;
	margin-left: -6px;
}

ul.category-bott>li {
	display: inline-block;
}

ul.category-bott>li>a {
	color: white;
	font-size: 12px;
	padding: 2px 6px;
}

ul.category-main>li:hover>ul.category-bott>li>a {
	color: gold;
}

ul.category-sub {
	display: none;
	width: 800px;
	background-color: white;
	overflow: hidden;
	position: absolute;
	left: 100%;
}

ul.category-sub::after {
	content: "";
	border: 15px solid;
	margin-top: 20px;
	border-color: transparent transparent transparent rgba(145,119,110);
	position: absolute;
	left: 0;
	top: 0px;
}

ul.category-main>li:hover>ul.category-sub {
	display: block;
}

ul.category-sub>li {
	height: 20%;
	font-size: 24px;
	color: white;
	margin: 15px 40px 0;
	border-bottom: 1px solid rgb(221,221,221);
}

ul.category-sub>li>a {
	display: inline-block;
	font-size: 14px;
	width: 80px;
	padding-left: 15px;
	color: rgb(102,102,102);
}

ul.category-sub>li>a:hover {
	color: red;
}

ul.category-sub>li>ul {
	display: inline-block;
	font-size: 0;
	padding-bottom: 15px;
}

ul.category-sub>li>ul>li {
	display: inline-block;
	box-sizing: border-box;
	padding: 0 16px;
	border-left: 1px solid rgb(221,221,221);
}

ul.category-sub>li>ul>li>a {
	font-size: 14px;
	color: rgb(153,153,179);
}

ul.category-sub>li>ul>li>a:hover {
	color: red;
}

.menu-wrap>.menu-wrap-c>.menu-right {
	float: right;
	display: inline-block;
	vertical-align: middle;
	height: 40px;
	width: 1000px;
}

.menu-wrap>.menu-wrap-c>.menu-right>ul {
	font-size: 0;
}

.menu-wrap>.menu-wrap-c>.menu-right>ul>li {
	display: inline-block;
	width: 10%;
	box-sizing: border-box;
	padding: 11px 20px;
	height: 10px;
}

.menu-wrap>.menu-wrap-c>.menu-right>ul>li>a {
	color: #1E1E1E;
	font-size: 14px;
}

.menu-wrap>.menu-wrap-c>.menu-right>ul>li>a:hover {
	color: red;
}

/* 搜索结果 */
.end-result {
	height: 74px;
	background-color: rgba(240,243,239);
}

.end-result>.result {
	width: 100%;
	height: 100%;
	padding: 12px 0 10px;
	box-sizing: border-box;
}

.end-result>.result>span {
	display: inline-block;
	line-height: 24px;
	font-size: 16px;
	padding-right: 4px;
	color: #999;
	cursor: pointer;
}

.end-result>.result>span.result-first {}

.end-result>.result>span.result-second {}

.end-result>.result>span.result-third {}

.end-result>.result>span.result-fourth {
	color: #5B5B5B;
}

.end-result>.result>span.icon-a {
	font-size: 16px;
}

/* 重要 */
/* 放大镜 */
.image-list-wrap {
	
	/* div流体特性,没动宽度,向里挤 */
	padding: 0 15px;
	position: relative;
	white-space: nowrap;
	overflow: hidden;
	width: 300px;
}

.image-list-wrap>span {
	position: absolute;
	top: 0;
	width: 15px;
	height: 65px;
	z-index: 99;
	text-align: center;
	background-color: #999;
	padding-top: 24px;
	cursor: pointer;
}

.image-list-wrap>span.prev {
	left: 0;
}

.image-list-wrap>span.next {
	right: 0px;
}

.image-list-wrap>ul.image-list {
	font-size: 0;
	/* 平移百分比相当于自身 */
	transition: all 0.5s ease-out;
	width: 100%;
}

.image-list-wrap>ul.image-list>li {
	display: inline-block;
	width: 25%;
	box-sizing: border-box;
	padding: 0 5px;
}

.image-list-wrap>ul.image-list>li>.image-wrap {
	width: 65px;
	padding-top: 65px;
	position: relative;
}

.image-list-wrap>ul.image-list>li>.image-wrap>img {
	position: absolute;
	left: 0;
	top: 0;
	width: 65px;
	height: 65px;
	border: 1px solid #ccc;
	box-sizing: border-box;
	cursor: pointer;
}

.zoom-wrap {
	width: 375px;
	height: 375px;
	margin-top: 75px;
	position: relative;
	margin-bottom: 50px;
}

.big-image-list-wrap {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	cursor: crosshair;
}

.big-image-list-wrap:hover:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background-color: rgba(255,255,255,0.4);
}

.zoom {
	position: absolute;
	width: 50%;
	height: 50%;
	box-shadow: 0 0 10px 0 black;
	z-index: 101;
	background-color: white;
	display: none;
	border: 1px solid red;
	box-sizing: border-box;
	z-index: 99;
}

.zoom-big {
	/* z-index: 102; */
	position: absolute;
	left: 0%;
	top: 0;
	width: 100%;
	height: 100%;
	border: 1px solid #ccc;
	box-sizing: border-box;
	background-color: white;
	transition: all 0.4s ease-out;
	/* scale(0)时缩成一个点 */
	transform: scale(0);
	z-index: 99;
}

/* +找其后面的兄弟 */
.big-image-list-wrap:hover+.zoom-big {
	/* scale(1)时图像还原为原本大小 */
	transition: all 0.4s ease-out;
	transform: scale(1);
	left: 105%;
}

.big-image-list-wrap:hover>.zoom {
	display: block;
}


ul.big-image-list {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

ul.big-image-list>li {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	/* 透明度变化才有动画,display:none;没有 */
	/* 透明度 */
	opacity: 0;
	transition: opacity 0.5s ease-out;
}

ul.big-image-list>li.show {
	opacity: 1;
	/* 盒子完全不透明 */
}

ul.big-image-list>li>.image-wrap {
	width: 100%;
	padding-top: 100%;
	position: relative;
}

ul.big-image-list>li>.image-wrap>img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: 1px solid #ccc;
	box-sizing: border-box;
}



.detail-box>.share {
	margin-top: 15px;
}

.detail-box>.share>a {
	margin-left: 3px;
}

.detail-box>.share>a>span {
	font-size: 14px;
}

.detail-box>.detail-content {
	margin-top: -525px;
	float: right;
	width: 63%;
	height: 375px;
}

.detail-box>.detail-content>span.detail-title {
	display: block;
	font-size: 16px;
	padding-left: 0;
	color: #1E1E1E;
	line-height: 22px;
	font-weight: 300;
	margin-bottom: 20px;
}

.detail-box>.detail-content>span.detail-author {
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
}

.detail-box>.detail-content>span>a {
	margin-right: 5px;
}

.detail-box>.detail-content>.detail-price {
	background-color: rgba(247,245,241);
}

.detail-box>.detail-content>.detail-price>.sell {
	margin-top: 10px;
	padding-top: 15px;
	padding-left: 40px;
}

.detail-box>.detail-content>.detail-price>.sell>span.sell-a {
	font-size: 14px;
	color: #666;
	text-align: right;
	padding-right: 0;
	width: 50px;
	margin-right: 26px;
}

.detail-box>.detail-content>.detail-price>.sell>span.sell-b {
	font-size: 16px;
	font-weight: 700;
	color: #C62E2D;
	line-height: 30px;
}

.detail-box>.detail-content>.detail-price>.sell>span.sell-c {
	color: #C62E2D;
	font-size: 14px;
	margin: 0 8px;
	line-height: 30px;
}

.detail-box>.detail-content>.detail-price>.sell>span.sell-d {
	color: #5B5B5B;
	font-size: 14px;
	line-height: 30px;
	text-decoration: line-through;
}

.detail-box>.detail-content>.detail-price>.discount {
	padding-top: 8px;
	padding-left: 40px;
	padding-bottom: 15px;
	z-index: 1;
}

.detail-box>.detail-content>.detail-price>.discount>span {}

.detail-box>.detail-content>.detail-price>.discount>span.discount-a {
	font-size: 14px;
	color: #666;
	text-align: right;
	padding-right: 0;
	width: 50px;
	margin-right: 26px;
	vertical-align: middle;
}

.detail-box>.detail-content>.detail-price>.discount>span.discount-b {
	padding: 0 10px;
	vertical-align: middle;
	background: #C62E2D;
	color: #fff;
	font-weight: 700;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	cursor: pointer;
	position: relative;
	text-align: center;
}

.detail-box>.detail-content>.detail-price>.discount>a {
	float: right;
	margin-right: 30px;
}

.detail-box>.detail-content>.detail-address {
	margin-top: 36px;
}

.detail-box>.detail-content>.detail-address>span {
	display: inline-block;
	float: left;
	text-align: right;
	color: #666;
	padding-right: 0;
	width: 52px;
	margin-right: 26px;
	padding-left: 30px;
	padding-top: 6px;
	font-size: 14px;
}

.detail-box>.detail-content>.detail-address>select {
	height: 28px;
	padding: 0 10px;
}

.detail-box>.detail-content>.detail-count>span.count-title {
	display: inline-block;
	text-align: right;
	color: #999;
	margin-right: 26px;
	width: 52px;
	padding-left: 30px;
	margin-top: 20px;
	font-size: 14px;
	vertical-align: baseline;
}

.detail-box>.detail-content>.detail-count>span.btn-decrease {
	display: inline-block;
	text-align: center;
	border: 1px solid #666;
	vertical-align: middle;
	margin-left: -5px;
	width: 30px;
	height: 24px;
	color: #1E1E1E;
	cursor: pointer;
}

.detail-box>.detail-content>.detail-count>input.count {
	display: inline-block;
	width: 60px;
	height: 24px;
	border: none;
	outline: none;
	margin-left: -5px;
	border: 1px solid #666;
	vertical-align: middle;
	text-align: center;
}

.detail-box>.detail-content>.detail-count>span.btn-increase {
	display: inline-block;
	text-align: center;
	border: 1px solid #666;
	vertical-align: middle;
	margin-left: -5px;
	width: 30px;
	height: 24px;
	color: #1E1E1E;
	cursor: pointer;
}

.detail-box>.detail-content>.detail-count>span.disabled {
	cursor: not-allowed;
}


.detail-box>.detail-content>.detail-buy {
	margin-top: 30px;
	margin-left: 42px;
}

.detail-box>.detail-content>.detail-buy>span.btn-buy {
	display: inline-block;
	vertical-align: middle;
	width: 160px;
	height: 40px;
	text-align: center;
	box-sizing: border-box;
	padding: 9px 0;
	font-size: 16px;
	margin-right: 16px;
	border: 1px solid #C62E2D;
	color: #C62E2D;
	cursor: pointer;
}

.detail-box>.detail-content>.detail-buy>span.buy {
	display: inline-block;
	vertical-align: middle;
	width: 160px;
	height: 40px;
	text-align: center;
	box-sizing: border-box;
	padding: 9px 0;
	font-size: 16px;
	margin-right: 16px;
	color: #fff;
	border-color: #C62E2D;
	background-color: #C62E2D;
	cursor: pointer;
}

/* 新华推荐 */
.recommend-end {
	margin-top: 40px;
	margin-bottom: 20px;
	background-color: white;
}

.recommend-end>.recommend-top {
	background-color: rgba(240,243,239);
}

.recommend-end>.recommend-top>span {
	display: block;
	margin: 0;
	padding: 12px 0 12px 18px;
	font-size: 18px;
	color: #1E1E1E;
	font-weight: 400;
}

.recommend-end>ul>li>a>img { 
	height: 160px;
}

/* 最后的商品详情右边 */
.end-box {
	margin-bottom: 200px;
	/* overflow: hidden; */
}

.end-box>.end-left {
	float: left;
	width: 184px;
}

.end-box>.end-left>.title {
	height: 40px;
	background-color: rgba(247,247,247);
}

.end-box>.end-left>.title>h2 {
	line-height: 40px;
	font-size: 18px;
	padding-left: 18px;
	color: #1E1E1E;
	font-weight: 400;
}

.end-box>.end-left>.content {
	border: 1px solid rgba(221,221,221);
}

.end-box>.end-left>.content>ul {
	font-size: 0;
}

.end-box>.end-left>.content>ul>li {
	width: 100%;
	height: 188px;
	background-color: white;
}

.end-box>.end-left>.content>ul>li>a {
	width: 100%;
	height: 168px;
	display: block;
	position: relative;
	left: 0;
	top: 0;
	transition: all 0.4s ease-out;
	font-size: 16px;
}

.end-box>.end-left>.content>ul>li>a:hover {
	top: -4px;
	box-shadow: 0 0 10px 0 black;
}

.end-box>.end-left>.content>ul>li>a>img {
	padding-left: 40px;
	height: 100px;
}

.end-box>.end-left>.content>ul>li>a>span.name {
	display: block;
	height: 32px;
	font-size: 12px;
	line-height: 16px;
	color: #1E1E1E;
	font-weight: 400;
	margin-top: 6px;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.end-box>.end-left>.content>ul>li>a:hover>span.name {
	color: red;
}

.end-box>.end-left>.content>ul>li>a>span.price {
	display: inline-block;
	line-height: 22px;
	color: #C62E2D;
	font-size: 14px;
	margin-top: 6px;
}

/* 最后的商品详情左边 */
.end-box>.end-right {
	margin-left: 200px;
}

.end-box>.end-right>.top {
	height: 42px;
	width: 100%;
	background-color: rgba(237,234,233);
	position: relative;
}

.end-box>.end-right>.top>ul {
	font-szie: 0;
	height: 100%;
}

.end-box>.end-right>.top>ul>li {
	text-align: center;
	display: inline-block;
	width: 12.5%;
	height: 100%;
	padding-right: 20px;
	box-sizing: border-box;
}

.end-box>.end-right>.top>ul>li>span {
	width: 100%;
	height: 100%;
	font-size: 14px;
	line-height: 18px;
	display: block;
	color: #24344e;
	padding-top: 14px;
	font-weight: 400;
	cursor: pointer;
	box-sizing: border-box;
}

.end-box>.end-right>.top>ul>li:hover>span {
	color: #008000;
}

.end-box>.end-right>.top>ul>li.active>span {
	background-color: #C62E2D;
	color: white;
}

.end-box>.end-right>.top>.detail-buy {
	display: inline-block;
	position: absolute;
	right: -10px;
	top: 5px;
}

.end-box>.end-right>.top>.detail-buy>span.btn-buy {
	display: inline-block;
	width: 104px;
	height: 32px;
	text-align: center;
	box-sizing: border-box;
	padding-top: 6px;
	font-size: 16px;
	margin-right: 16px;
	background-color: #C62E2D;
	color: white;
	cursor: pointer;
}

.end-box>.end-right>.middle {
	position: relative;
}

.end-box>.end-right>.middle>.middle-a {
	opacity: 0;
}

.end-box>.end-right>.middle>.middle-a.active {
	opacity: 1;
}

.end-box>.end-right>.middle>.middle-a>.middle-a-top {
	border: 1px solid rgba(223,223,223);
}

.end-box>.end-right>.middle>.middle-a>.middle-a-top>img {
	width: 100%;
}

.end-box>.end-right>.middle>.middle-a>.middle-a-bottom {
	border: 1px solid rgba(223,223,223);
}

.end-box>.end-right>.middle>.middle-a>.middle-a-bottom>img {
	width: 100%;
}

.end-box>.end-right>.middle>.middle-b {
	opacity: 0;
	position: absolute;
	left: 0;
	top: 0;
	border: 1px solid rgba(223,223,223);
	z-index: 99;
}

.end-box>.end-right>.middle>.middle-b.active {
	opacity: 1;
}

.end-box>.end-right>.middle>.middle-b>.middle-b-content {
	box-sizing: border-box;
	padding: 20px 30px 0;
}

.end-box>.end-right>.middle>.middle-b>.middle-b-content>img {
	display: block;
	width: 100%;
}

.end-box>.end-right>.middle>.middle-c {
	opacity: 0;
	position: absolute;
	left: 0;
	top: 0;
	border: 1px solid rgba(223,223,223);
	z-index: 99;
}

.end-box>.end-right>.middle>.middle-c.active {
	opacity: 1;
}

.end-box>.end-right>.middle>.middle-c>.middle-c-content {}

.end-box>.end-right>.middle>.middle-c>.middle-c-content>img {
	display: block;
	width: 100%;
}

.end-box>.end-right>.middle>.middle-d {
	opacity: 0;
	position: absolute;
	left: 0;
	top: 0;
	border: 1px solid rgba(223,223,223);
	z-index: 99;
	width: 100%;
	box-sizing: border-box;
}

.end-box>.end-right>.middle>.middle-d.active {
	opacity: 1;
}

.end-box>.end-right>.middle>.middle-d>.middle-d-content {
	
	text-align: center;
}

.end-box>.end-right>.middle>.middle-d>.middle-d-content>i {
	display: block;
	margin-top: 50px;
	font-size: 100px;
}

.end-box>.end-right>.middle>.middle-d>.middle-d-content>span {
	display: block;
	margin-top: 34px;
	margin-bottom: 60px;
	font-size: 14px;
	color: #666666;
}

.end-box>.end-right>.bottom {
	margin-top: 860px;
}

.end-box>.end-right>.bottom>.title {
	margin-top: 40px;
	font-size: 18px;
}

.end-box>.end-right>.bottom>.content {
	margin-top: 20px;
	text-align: center;
}

.end-box>.end-right>.bottom>.content>i {
	display: block;
	font-size: 100px;
	color: grey;
}

.end-box>.end-right>.bottom>.content>span.explanation {
	display: block;
	margin-top: 30px;
	font-size: 14px;
}

.end-box>.end-right>.bottom>.content>a {
	color: blue;
}

/* 页脚 */
html {
	height: 100%;
}

body {
	min-height: 100%;
	position: relative;
	box-sizing: border-box;
	padding-bottom: 500px;
}

.footer {
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: rgba(234,234,234);
}

.footer>.footer-top {
	height: 100px;
	margin-top: 60px;
}

.footer>.footer-top>ul {
	font-size: 0;
	width: 100%;
	white-space: nowrap;
}

.footer>.footer-top>ul>li {
	display: inline-block;
	margin-right: 115px;
}

.footer>.footer-top>ul>li>img {
	width: 100%;
}

.footer>.footer-middle {
	width: 100%;
	height: 220px;
	border-top: 1px solid rgba(187,187,187);
	border-bottom: 1px solid rgba(187,187,187);
	
}

.footer>.footer-middle>ul {
	font-size: 0;
	width: 1200px;
	margin: 0 auto;
}

.footer>.footer-middle>ul>li {
	display: inline-block;
	width: 20%;
	height: 100%;
	text-align: left;
	vertical-align: top;
	margin-top: 50px;
	box-sizing: border-box;
	padding-left: 120px;
}

.footer>.footer-middle>ul>li>span {
	font-size: 18px;
	color: rgb(51,51,51);
	font-weight: bold;
}

.footer>.footer-middle>ul>li>a {
	display: block;
	font-size: 12px;
	color:rgba(153,153,153);
	margin: 10px 0;
}

.footer>.footer-middle>ul>li>a.mid {
	font-size: 14px;
	color: rgba(153,153,153);
	font-weight: bold;
}

.footer>.footer-bottom {
	text-align: center;
	margin-top: 50px;
}

.footer>.footer-bottom>span {
	margin: 8px 0;
}

.footer>.footer-bottom>span>a {
	color: rgba(153,153,153);
}

.footer>.footer-bottom>span.footer-bottom-top {}

.footer>.footer-bottom>span.footer-bottom-mid {
	display: block;
}

.footer>.footer-bottom>span.footer-bottom-bottom {
	display: block;
}

.footer>.footer-bottom>span.span-a {
	color: rgba(153,153,153);
	display: block;
}

.footer>.footer-bottom>span.span-b {
	color: rgba(153,153,153);
	display: block;
}

.footer>.footer-bottom>.footer-end {
	margin: 30px 0;
}

.footer>.footer-bottom>.footer-end>img {
	width: 30px;
}

.footer>.footer-bottom>.footer-end>a {
	font-size: 12px;
	color: rgba(153,153,153);
	margin-right: 20px;
}

/* 固定定位 */
.fixed {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	background-color: rgba(210,94,90);
	height: 72px;
	z-index: 999;
}

.fixed>.fixed-a>a {}

.fixed>.fixed-a>a>img {
	max-width: 150px;
	max-height: 50px;
	float: left;
	margin-top: 11px;
}

.fixed>.fixed-a>input {
	outline: none;
	border: none;
	width: 636px;
	height: 32px;
	border-radius: 0;
	padding: 0 0 0 10px;
	line-height: 32px;
	margin-left: 75px;
	margin-top: 20px;
	vertical-align: middle;
	
}

.fixed>.fixed-a>.search {
	display: inline-block;
	background-color: rgba(190,85,81);
	border: 1px solid #bd5450;
	width: 86px;
	height: 32px;
	border-radius: 0;
	vertical-align: middle;
}

.fixed>.fixed-a>.icon-search {
	/* display: block; */
	margin-top: 20px;
	box-sizing: border-box;
	padding-top: 7.6px;
	padding-left: 35px;
	cursor: pointer;
}

/* 回到顶部 */
.nav {
	width: 48px;
	height: 96px;
	position: fixed;
	right: 0;
	top: 80%;
	background-color: white;
	text-align: center;
}

.nav>.customer-service {
	width: 100%;
	height: 50%;
	font-size: 24px;
	padding-top: 12px;
	cursor: pointer;
}

.nav>.return-top {
	width: 100%;
	height: 50%;
	font-size: 24px;
	padding-bottom: 12px;
	cursor: pointer;
}