.personal-top {
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 99;
}

body {
	background-color: rgba(240,243,239);
}

/* 页首 */
.personal-top>.top {
	background-color: rgb(245,245,245);
	height: 30px;
	position: relative;
}

.personal-top>.top>.top-mid {
	font-size: 12px;
	line-height: 18px;
	color: #1E1E1E;
}

.personal-top>.top>.top-mid>.top-mid-left {
	font-size: 12px;
	padding-top: 6px;
	display: inline-block;
}

.personal-top>.top>.top-mid>span {}

.personal-top>.top>.top-mid>a {}


.personal-top>.top>.top-mid>ul {
	display: inline-block;
	width: 390px;
	height: 30px;
	font-size: 0;
	float: right;
	overflow: hidden;
}

.personal-top>.top>.top-mid>ul>li {
	display: inline-block;
	width: 20%;
	font-size: 12px;
	box-sizing: border-box;
    padding: 0 10px 1px 15px;
    margin: 9px 0 0px;
    border-right: 1px solid #DDD;
	cursor:  pointer;
}

.personal-top>.top>.top-mid>ul>li:nth-child(2) {
	position: relative;
}

.personal-top>.top>.top-mid>ul>li>a { color: #1E1E1E; }

.personal-top>.top>.top-mid>ul>li>a:hover { color: red; }

.personal-top>.top>.top-mid>ul>li:nth-child(2)>a>i{
	position: absolute;
	left: 2px;
	top: 0.5px;
	font-size: 12px;
}


.personal-top>.bottom {
	height: 72px;
	background-color: #C62E2D;
	box-sizing: border-box;
	padding-top: 24px;
}

.personal-top>.bottom>.top-title-c {
	
}

.personal-top>.bottom>.top-title-c>a {
	vertical-align: middle;
	margin-right: 44px;
}

.personal-top>.bottom>.top-title-c>a>img {
	height: 45px;
}

.personal-top>.bottom>.top-title-c>ul {
	vertical-align: middle;
	display: inline-block;
	
}

.personal-top>.bottom>.top-title-c>ul>li {
	display: inline-block;
	width: 80px;
	text-align: center;
	font-size: 18px;
	line-height: 18px;
}

.personal-top>.bottom>.top-title-c>ul>li>a {
	color: white;
}

.personal-top>.bottom>.top-title-c>ul>li>a:hover {
	color: gold;
}

.personal-top>.bottom>.top-title-c>.top-title-mid {
	display: inline-block;
	margin-left: 280px;
	margin-right: 10px;
}

.personal-top>.bottom>.top-title-c>.top-title-mid>input.search-input {
	width: 238px;
	border: 1px solid #DFDFDF;
	height: 32px;
	font-size: 14px;
	line-height: 32px;
	padding: 0 0 0 10px;
	vertical-align: middle;
	outline: none;
}

.personal-top>.bottom>.top-title-c>.top-title-mid>.search {
		display: inline-block;
	    cursor: pointer;
		background-color: #DFDFDF;
	    border: 1px solid #c62f2d;
		box-sizing: border-box;
		margin-left: -5px;
		width: 46px;
		height: 36px;
		
		text-align: center;
		vertical-align: middle;
		border-left: none;
}

.personal-top>.bottom>.top-title-c>.top-title-mid>.icon-search {
	color: white;
	box-sizing: border-box;
	padding-top: 10px;
	font-size: 14px;
	line-height: 14px;
}

.personal-top>.bottom>.top-title-c>.top-title-right {
	float: right;
	border: 1px solid #DDD;
	margin-right: 40px;
	margin-top: 8px;
	background-color: white;
}

.personal-top>.bottom>.top-title-c>.top-title-right>a {
	cursor: pointer;
	font-size: 14px;
	line-height: 30px;
	margin: 2px 2px 2px 4px;
}

.personal-top>.bottom>.top-title-c>.top-title-right>a>span.bag {
		color: red;
}

.personal-top>.bottom>.top-title-c>.top-title-right>a>span.icon-arrow-right {
	font-size: 14px; 
	padding: 0;
}

.personal-top>.bottom>.top-title-c>.top-title-right>a>span {
	color: #666;
	margin: 0 2px;
}


/* 内容 */
.personal-content {
	padding-top: 86px;
}

.personal-content>.nav {
	display: inline-block;
	width: 200px;
	padding-top: 16px;
}

.personal-content>.nav>ul {
	width: 100%;
}

.personal-content>.nav>ul>li {
	/* height: 160px; */
	width: 100%;
	padding-top: 20px;
	box-sizing: border-box;
	
}

.personal-content>.nav>ul>li>span {
	line-height: 34px;
	color: #333;
	padding-left: 24px;
	font-size: 18px;
}

.personal-content>.nav>ul>li>ul {}

.personal-content>.nav>ul>li>ul>li {
	line-height: 30px;
	font-size: 16px;
	color: #666;
	cursor: pointer;
	padding-left: 24px;
}

.personal-content>.nav>ul>li>ul>li:hover {
	color: gold;
	background-color: #1f2532;
}

.personal-content>.content {
	padding-top: 22px;
	display: inline-block;
	width: 1000px;
	float: right;
	display: none;
	background-color: rgba(240,243,239);
}

.personal-content>.content.active {
	display: block;
}

.personal-content>.content>.content-top {
	display: block;
}

.personal-content>.content>.content-top>span {
	display: block;
	line-height: 18px;
	font-size: 18px;
	font-weight: 500;
	margin: 1em 0;
}

.personal-content>.content>.member {
	box-sizing: border-box;
	padding: 20px 35px 20px 12px;
	height: 220px;
	background-color: white;
	border: 1px solid #DDDDDD;
	position: relative;
	z-index: 1;
}

.personal-content>.content>.member>.user {
	width: 452px;
	display: inline-block;
	height: 100%;
	border-right: 1px solid #DDDDDD;
}

.personal-content>.content>.member>.user>.image {
	float: left;
	width: 150px;
	height: 150px;
	box-sizing: border-box;
	border: 1px solid #DDDDDD;
	vertical-align: top;
}

.personal-content>.content>.member>.user>.image>img {
	width: 100%;
}

.personal-content>.content>.member>.user>.user-info {
	float: right;
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	padding: 24px 0 0 24px;
	width: 290px;
	height: 100%;
}

.personal-content>.content>.member>.user>.user-info>span.name {
	font-size: 16px;
	font-weight: 500;
	padding-bottom: 12px;
	display: block;
}

.personal-content>.content>.member>.user>.user-info>.vip {
	font-size: 14px;
	color: #FFF;
	line-height: 24px;
	width: 176px;
	height: 24px;
	position: relative;
	background-image: url(../images/personal/personal-002.png);
	background-repeat: no-repeat;
	background-size: 176px 24px;
}

.personal-content>.content>.member>.user>.user-info>.vip>i.cd {
	position: absolute;
	left: 3px;
	top: 3px;
	width: 18px;
	height: 18px;
	background-image: url(../images/personal/personal-001.jpg);
	background-repeat: no-repeat;
	background-size: 18px 18px;
}

.personal-content>.content>.member>.user>.user-info>.vip>span {
	margin-left: 40px;
}

.personal-content>.content>.member>.user>.user-info>.vip-message {
	padding-top: 40px;
}

.personal-content>.content>.member>.user>.user-info>.vip-message>a {
	color: #AF9E7A;
	font-size: 16px;
}

.personal-content>.content>.member>.message {
	display: inline-block;
	width: 452px;
	height: 100%;
	position: absolute;
	top: 20px;
	right: 82px;
}

.personal-content>.content>.member>.message>span.title {
	display: block;
	font-size: 18px;
	line-height: 18px:
	color: #333333;
	margin-bottom: 1em 0;
	margin-left: 4em;
}

.personal-content>.content>.member>.message>ul {
	font-size: 0;
	width: 452px;
	margin-left: 70px;
	margin-top: 20px;
}

.personal-content>.content>.member>.message>ul>li {
	display: inline-block;
	width: 25%;
	padding-right: 20px;
	height: 82px;
	box-sizing: border-box;
	cursor: pointer;
}

.personal-content>.content>.member>.message>ul>li>i {
	display: inline-block;
	width: 56px;
	height: 56px;
	background-image: url(../images/personal/personal-003.png);
	background-repeat: no-repeat;
	margin-bottom: 10px;
}

.personal-content>.content>.member>.message>ul>li>i.image1 {
	background-position: -117px -260px;
}

.personal-content>.content>.member>.message>ul>li>i.image2 {
	background-position: -61px -260px;
}

.personal-content>.content>.member>.message>ul>li>i.image3 {
	background-position: -173px -260px;
}

.personal-content>.content>.member>.message>ul>li>i.image4 {
	background-position: -229px -260px;
}

.personal-content>.content>.member>.message>ul>li>span {
	font-size: 14px;
	margin-left: 4px;
}

.personal-content>.content>.my-order>table.table-top {
	width: 1000px;
	margin-top: 24px;
	border-collapse: collapse;
}

.personal-content>.content>.my-order>table.table-top>thead>tr>th {
	height: 32px;
	width: 100%;
	padding: 8px;
	border: 1px solid grey;
	text-align: left;
	font-size: 14px;
	line-height: 18px;
	border-bottom: 0;
	height: 32px;
	color: #5B5B5B;
	background-color: #DDDDDD;
}

.personal-content>.content>.my-order>table.table-top>thead>tr>th>span {
	float: right;
	cursor: pointer;
}

.personal-content>.content>.my-order>table.table-top>tbody.null>tr>td {
	width: 100%;
	height: 240px;
	background-color: white;
	border: 1px solid grey;
	border-top: 0;
}

.personal-content>.content>.my-order>table.table-top>tbody.null>tr>td>.content-wrap {
	width: 100%;
	height: 100%;
	padding: 20px 0;
	box-sizing: border-box;
	text-align: center;
}

.personal-content>.content>.my-order>table.table-top>tbody.null>tr>td>.content-wrap>i {
	display: inline-block;
	background-image: url(../images/personal/personal-003.png);
	background-position: -321px -64px;
	width: 50px;
	height: 58px;
}

.personal-content>.content>.my-order>table.table-top>tbody.null>tr>td>.content-wrap>span {
	display: block;
	margin-top: 24px;
	font-size: 14px;
}

.personal-content>.content>.my-order>table.table-top>tbody.null>tr>td>.content-wrap>a {
	display: block;
	margin-top: 10px;
	font-size: 14px;
	color: blue;
}


.personal-content>.content>.my-order>table.table-middle {
	width: 1000px;
	margin-top: 24px;
	border-collapse: collapse;
}

.personal-content>.content>.my-order>table.table-middle>thead>tr>th {
	height: 32px;
	width: 100%;
	padding: 8px;
	border: 1px solid grey;
	text-align: left;
	font-size: 14px;
	line-height: 18px;
	border-bottom: 0;
	height: 32px;
	color: #5B5B5B;
	background-color: #DDDDDD;
}

.personal-content>.content>.my-order>table.table-middle>thead>tr>th>span {
	float: right;
	cursor: pointer;
}

.personal-content>.content>.my-order>table.table-middle>tbody>tr>td {
	width: 100%;
	height: 240px;
	background-color: white;
	border: 1px solid grey;
	border-top: 0;
}

.personal-content>.content>.my-order>table.table-middle>tbody>tr>td>.content-wrap {
	width: 100%;
	height: 100%;
	padding: 20px 0;
	box-sizing: border-box;
	text-align: center;
}

.personal-content>.content>.my-order>table.table-middle>tbody>tr>td>.content-wrap>i {
	display: inline-block;
	background-image: url(../images/personal/personal-003.png);
	background-position: -168px -129px;
	width: 65px;
	height: 58px;
}

.personal-content>.content>.my-order>table.table-middle>tbody>tr>td>.content-wrap>span {
	display: block;
	margin-top: 24px;
	font-size: 14px;
}

.personal-content>.content>.my-order>table.table-middle>tbody>tr>td>.content-wrap>a {
	display: block;
	margin-top: 10px;
	font-size: 14px;
	color: blue;
}


.personal-content>.content>.my-order>table.table-bottom {
	width: 1000px;
	margin-top: 24px;
	border-collapse: collapse;
}

.personal-content>.content>.my-order>table.table-bottom>thead>tr>th {
	height: 32px;
	width: 100%;
	padding: 8px;
	border: 1px solid grey;
	text-align: left;
	font-size: 14px;
	line-height: 18px;
	border-bottom: 0;
	height: 32px;
	color: #5B5B5B;
	background-color: #DDDDDD;
}

.personal-content>.content>.my-order>table.table-bottom>thead>tr>th>span {
	float: right;
	cursor: pointer;
}

.personal-content>.content>.my-order>table.table-bottom>tbody>tr>td {
	width: 100%;
	height: 240px;
	background-color: white;
	border: 1px solid grey;
	border-top: 0;
}

.personal-content>.content>.my-order>table.table-bottom>tbody>tr>td>.content-wrap {
	width: 100%;
	height: 100%;
	padding: 20px 0;
	box-sizing: border-box;
	text-align: center;
}

.personal-content>.content>.my-order>table.table-bottom>tbody>tr>td>.content-wrap>i {
	display: block;
	font-size: 58px;
	color: #DDDDDD;
}

.personal-content>.content>.my-order>table.table-bottom>tbody>tr>td>.content-wrap>span {
	display: block;
	margin-top: 24px;
	font-size: 14px;
}

.personal-content>.content>.my-order>table.table-bottom>tbody>tr>td>.content-wrap>a {
	display: block;
	margin-top: 10px;
	font-size: 14px;
	color: blue;
}

.recommend {
	width: 100%;
	height: 552px;
	margin-top: 25px;
}

/* 新华推荐 */
.recommend-end {
	width: 1000px!important;
	margin-top: 20px;
	margin-bottom: 152px;
	background-color: white;
}

.recommend-end>.recommend-top {}

.recommend-end>.recommend-top>span {
	display: block;
	margin: 0;
	padding: 24px 0 12px 18px;
	font-size: 18px;
	color: #1E1E1E;
	font-weight: 400;
}



.recommend-end>ul>li>a>img { 
	height: 160px;
}

ul.public-ul {
	width: 1000px;
	font-size: 0;
}

ul.public-ul>li {
	display: inline-block;
	width: 20%!important;
	box-sizing: border-box;
	padding: 18px;
	vertical-align: top;
}

ul.public-ul>li>a {
	display: block;
	border: 1px solid #DDDDDD;
	position: relative;
	left: 0;
	top: 0;
	transition: all 0.4s ease-out;
}

ul.public-ul>li>a:hover {
	top: -4px;
	box-shadow: 0 0 10px 0 black;
}

ul.public-ul>li>a>img {
	width: 100%;
	height: 160px;
}

ul.public-ul>li>a>span {}

ul.public-ul>li>a>span.span-text {
	display: block;
	height: 32px;
	font-size: 12px;
	line-height: 16px;
	color: #1E1E1E;
	font-weight: 400;
	margin-top: 12px;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

ul.public-ul>li>a:hover>span.span-text {
	color: red;
}

ul.public-ul>li>a>span.span-price {
	display: inline-block;
	line-height: 22px;
	color: #C62E2D;
	font-size: 14px;
	margin-top: 10px;
}

ul.public-ul>li>a>span.span-line {
	display: inline-block;
	margin-top: 12px;
	padding-left: 20px;
	font-size: 12px;
	color: #666;
	text-decoration: line-through;
}


.my-order>table.table-top>tbody.content {
	background-color: white;
	display: block;
	border-bottom: 1px solid grey;
}

.my-order>table.table-top>tbody.content>tr {
	
}

.my-order>table.table-top>tbody.content>tr>td {
	width: 8%;
	padding: 8px 0;
	text-align: center;
}

.my-order>table.table-top>tbody.content>tr>td:nth-child(1) {
	padding-left: 14px;
	border-left: 1px solid grey;
}

.my-order>table.table-top>tbody.content>tr>td:nth-child(5) {
	
	position: relative;
}

.my-order>table.table-top>tbody.content>tr>td:nth-child(5):after {
	content: '';
	position: absolute;
	right: -1.2px;
	top: 0.7px;
	width: 1px;
	height: 100.1%;
	background-color: grey;
}

.my-order>table.table-top>tbody.content>tr>td>.wrapper {
	width: 78px;
	height: 78px;
	border: 1px solid black;
	box-sizing: border-box;
}

.my-order>table.table-top>tbody.content>tr>td>.wrapper>img {
	width: 100%;
}

.my-order>table.table-top>tbody.content>tr>td>span {
	display: block;
	margin: 8px 0;
}

.my-order>table.table-top>tbody.content>tr>td>span.name {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.my-order>table.table-top>tbody.content>tr>td>span.time {
	white-space: nowrap;
}

.my-order>table.table-top>tbody.content>tr>td>span.id {
	color: blue;
}

.my-order>table.table-top>tbody.content>tr>td>span.account{
	color: #C62E2D;
}

.my-order>table.table-top>tbody.content>tr>td>span>a{
	color: #0000FF;
}
































